* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.logo img {
    width: 139px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav ul a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

nav ul a:hover {
    color: #469165;
}

nav .but button {
    padding: 12.5px 16px;
    color: white;
    background-color: #469165;
    border: none;
    font-size: 16px;
    transition: 1s;
}

nav .but button:hover {
    border-radius: 10px;
    background-color: #6a967c;
    cursor: pointer;
}

.section-1 {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)), url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 674px;
}

section  .main-container {
    margin: 115.5px 120px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .sub-containter-1 {
    width: 100%;
    padding: 0 295px 0 295px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

section .sub-containter-1 button {
    background-color: white;
    border-radius: 1000px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6px;
    padding: 10px 12px;
    color: #30B868;
    font-size: 16px;
}

section .sub-containter-1 h1 {
    font-size: 72px;
    font-weight: bold;
    color: white;
}

section .sub-containter-1 h1 span {
    color: #30B868;
}

section .sub-containter-1 .pp {
    font-size: 18px;
    color: white;
    text-align: center;
}
section .sub-containter-2 {
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: end;
    padding: 32px 447.5px 0 447.5px;
}

section .sub-containter-2 .but-sub-1, .but-sub-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    gap: 10px;
    font-weight: bold;
}

.but-sub-1 {
    background-color: #30B868;
    color: white;
    padding: 18px;
    min-width: 251px;
}

.but-sub-2 {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 16px;
    min-width: 198px;
}

#apps {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apps-title {
    margin: 0 120px;
    padding: 60px 295px 0px 295px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.apps-title h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.apps-title p {
    color: #627382;
    font-size: 16px;
}

.apps-cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 44px 120px 120px 120px;
}

.card1, .card2, .card3, .card4 {
    padding: 69.5px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 332px;
    height: 300px;
    gap: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card-logo {
    background-color: #F95555;
    border-radius: 5000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14.155px;
}

.card-logo img {
    border-radius: 500px;
}

.card-logo h1 {
    font-size: 24px;
    color: #001931;
}

.card-logo p {
    color: #627382;
    text-align: center;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 400;
    font-style: Regular;
}

.main-apps {
    width: 100%;
    background-color: white;
}

.main-apps .main-container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 120px;
}

.main-apps .main-container .sec1 {
    margin: 0;
}

.main-apps .main-container .sec1 img {
    width: 600px;
    height: 600px;
}

.main-apps .main-container .sec2 {
    margin: 101.5px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
}

.main-apps .main-container .sec2 .sub-sec1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.main-apps .main-container .sec2 .sub-sec1 h4 {
    font-size: 16px;
    color: #30B868;
}

.main-apps .main-container .sec2 .sub-sec1 h2 {
    font-size: 48px;
}

.main-apps .main-container .sec2 .sub-sec1 p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

.main-apps .main-container .sec2 .sub-sec2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.main-apps .main-container .sec2 .sub-sec2 .line {
    display: flex;
    gap: 6px;
    align-items: center;
    text-align: center;
    color: #001931;
    font-size: 16px;
}

.main-access {
    width: 100%;
    background-color: white;
}

.main-access .access {
    margin: 2px 120px 120px 120px;
    background-color: #F7F6F2;
    border-radius: 12px;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.main-access .access .block1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    text-align: center;
}

.main-access .access .block1 h2 {
    font-size: 40px;
}

.main-access .access .block1 p {
    color: #627382;
    line-height: 24px;
    font-size: 16px;
}

.main-access .access .block2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.main-access .access .block2 button {
    width: 194px;
    height: 52px;
    margin: 0 auto;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 16px;
}

.main-access .access .block2 .hoh {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}